* {
    margin: 0;
    padding: 0;
}
.contenedor {
    border: 20px solid red;
    background-color: gray;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    grid-template-areas: 
    "uno dos dos"
    "tres tres cuatro"
    "cinco seis siete" ;
    place-content: center;


}

.item {    
    font-size: 4rem;
}
/* .item-1 {
    border: 5px solid rgba(0, 0, 255, 0.116);
    background-color: violet;
    grid-column-start: 1;
    grid-column-end: 4;
}

.item-2 {
    border: 5px solid rgba(0, 0, 255, 0.61);
    background-color: rgba(238, 130, 238, 0.685);
    grid-row: 2 / 4;
}

.item-3 {
    border: 5px solid blue;
    background-color: rgba(238, 130, 238, 0.164);
    grid-area: 2 / 2 / 4 / 4;
} */

.item-1 {
    border: 5px solid blue;
    background-color: yellow;
    opacity: 100%;
    grid-area: uno;
}

.item-2 {
    border: 5px solid blue;
    background-color: yellow;
    opacity: 80%;
    grid-area: dos;
}

.item-3 {
    border: 5px solid blue;
    background-color: yellow;
    opacity: 70%;
    grid-area: tres;
}

.item-4 {
    border: 5px solid blue;
    background-color: yellow;
    opacity: 60%;
    grid-area: cuatro;
}

.item-5 {
    border: 5px solid blue;
    background-color: yellow;
    opacity: 50%;
    grid-area: cinco;
}

.item-6 {
    border: 5px solid blue;
    background-color: yellow;
    opacity: 40%;
    grid-area: seis;
}

.item-7 {
    border: 5px solid blue;
    background-color: yellow;
    opacity: 30%;
    grid-area: siete;
}